// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #fff;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Source Sans Pro", sans-serif;
$font-display: "Source Sans Pro", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: initial;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
  color: #354052;
}

// .header,
// .features,
// .footer,
// .gallery,
// .homes,
// .navigation,
// .realtors,
// .story {
//   border: none;
// }
.container {
  display: grid;
  grid-template-rows: 70px repeat(8, max-content);

  & > * {
    padding: 10px;
  }
}
// grid-template-columns: auto;
