.relat {
  position: relative;
  text-align: -webkit-center;
  overflow: hidden;
}
.blueback {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  min-width: 150%;
  min-height: 60%;
  display: block;
  opacity: 0.2;
  background-color: #9ad8ff;
}

.features {
  grid-template-rows: max-content max-content max-content;
  width: 1230px;
  justify-self: center;
  position: relative;
  overflow: hidden;
  text-align: center;
  display: grid;
  padding: 120px 0px;

  &__img {
    width: 90%;
    margin-bottom: 10px;
    content: "";
    z-index: 1000;
  }

  .box {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding: 30px;
    z-index: 1000;
  }

  &__text {
    margin-bottom: 64px;
    font-size: 20px;

    text-align: center;
  }

  &__text-1 {
    color: #3999f9;
    padding: 0 24px;
  }

  &__text-2 {
    color: #fb6d72;
    padding: 0 20px 0 0;
  }

  &__text-3 {
    color: #13c8ed;
    padding: 0 12px 0 4px;
  }
}
