%heading {
  font-family: $font-display;
  font-weight: 400;
}
.heading-1 {
  display: grid;
  color: #0091ff;
  line-height: 70px;
  font-size: 54px;
  margin-top: 0;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-weight: 600;
}

.heading-2,
.heading-3 {
  font-size: 36px;
  font-weight: normal;
  line-height: 1.25;
  margin-bottom: 50px;
  color: #354052;
  text-align: center;
}



h2,
h3 {
  // @extend %heading;
  // display: inline-block;
  margin-top: 0;
  color: $color-secondary;
  font-size: 42px;
  line-height: 53px;
  font-weight: 500;
}
